body{ overflow: hidden;}
.page {
	bottom: 0px;
	padding-top: 200px;
	position: absolute;
	text-align: center;
	top: 0px;
	width: 100%;
}

.page h1 {
	font-size: 60px;
}

.page a {
	margin-top: 50px;
}

.hello {
	background: #00D0BC;
	color: #ffffff;
}

.list {
	background: #e59400;
	color: #ffffff;
}
@keyframes rotateFall {
    0%         { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%     { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to         { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to         { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from     { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from     { transform:translateX(100%); }
    to         { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from     { transform:translateY(100%); }
    to         { transform: translateY(0); }
}

.hello.ng-enter { animation: scaleUp 0.5s both ease-in;z-index: 1000  }
.hello.ng-leave{ animation: rotateFall 0.5s both ease-in;z-index: 1000 }
.list.ng-enter{ animation: slideInRight 0.5s both ease-in; z-index: 999}
.list.ng-leave{ animation: slideOutLeft 0.5s both ease-in; z-index: 999}
.one{ background: #1b6d85 ; padding: 30px;
    font-size: 20px; color: #ffffff; margin: 20px}